<div class="full-width squish-wrapper">
  <div class="container">
      <%= render :partial => "form" %>
  </div>
</div>
<div class="container<%= " #{@filter}" %>">
  <ul>
    <li><%= link_to "My Squishes", :filter => "my_links" %></li>
    <li><%= link_to "Recently Squished", :filter => "recent" %></li>
    <li><%= link_to "Popular Squishes", :filter => "popular" %></li>
  </ul>
  <%- if @filter == "my_links" %>
    <%= render 'links', :links => @my_links %>
  <%- elsif @filter == "popular" %>
    <%= render 'links', :links => @popular %>
  <%- elsif @filter == "recent" %>
    <%= render 'links', :links => @recent %>
  <%- end -%>
</div>